{% for k,v in swag.info.items() %}
# {{ k }}: {{ v }}
{% endfor %}

server {
    listen 80 default_server;
    server_name _;

    {% if swag['basePath'] -%}
    location {{ swag.basePath }}
    {% endif -%}
      {% for path in swag['paths'] -%}
      location {{ path.path }} {
        {% for method in path['methods'] -%}
          {% for param in method['parameters'] -%}
            {% if param['required'] -%}
              if ($args !~ "{{ param['name'] }}=(.+)") {
                  return 400 "{{ param['name'] }} parameter required";
              }
            {%- endif %}
          {%- endfor %}
          {% if method['x-amazon-apigateway-any-method'] is defined -%}       
          {% if method['x-amazon-apigateway-any-method']['x-amazon-apigateway-integration'] is defined -%}       
          set $aws_function {{ method['x-amazon-apigateway-any-method']['x-amazon-apigateway-integration']['function'] }};
          content_by_lua_file conf/conf.d/lambda_invoker.lua;
          {%- endif %}
          {%- endif %}
        {%- endfor %}
      }
    {% endfor %}
    {% if swag['basePath'] -%}
    }
    {% endif -%}
}
